# Ignore node_modules
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
.env
.env.local
.env.development
.env.test
.env.production
.env*.local

# Ignore build output
dist/
build/
out/

# Ignore testing files
tests/
coverage/
.nyc_output/
junit.xml

# Ignore IDE files
.idea/
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore git files
.git/

# Misc
.cache/
.temp/
.tmp/
tmp/
temp/
*.ignore.*
codeql/