services:
  backend:
    build:
      context: .
      args:
        NODE_ENV: development
    volumes:
      - type: bind
        source: .
        target: /usr/src/app
      - /usr/src/app/node_modules # Prevents overwriting node_modules in the container
    env_file:
      - .env.dev
    command: sh -c "npx prisma migrate deploy && npm run dev"
    environment:
      - CHOKIDAR_USEPOLLING=true